.items {
  height: 550px;
  /* add other styles*/
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  height: 200px;
  margin-bottom: 4px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}

.item img {
  position: relative;
  z-index: -1;
}

.item p {
  position: absolute;
  left: 8px;
  bottom: 8px;
  z-index: 100;
  color: #faebd7;
}

.hidden {
  position: absolute !important;
  top: -1000px;
}

/* add other classes */

/* no need to touch rest of file*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  max-height: 90vh;
  border-radius: 4px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;

}

.items::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.items::-webkit-scrollbar-thumb:vertical {
  min-height: 60px;
}

.items::-webkit-scrollbar-thumb:horizontal {
  min-width: 60px;
}

button {
  background-color: #faebd7;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}



